@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300;1,600&display=swap');

body {
    font-family: 'Nunito Sans',
    sans-serif;
}


.container {
    padding: 0.5rem 1rem;
}

.container-centre {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}



.link-primary {
   background-color: var(--primary-colour);
   border-radius: 0.5rem;
   color: white
}

.link-secondary {
    color: var(--primary-colour);
    border-radius: 0.5rem;
    border: 1px solid var
    (--primary-color);
}









